/* Example userChrome.css file */

/* Import your desired components first */

@import url(chrome/tab_close_button_always_on_hover.css);
@import url(chrome/tab_loading_progress_throbber.css);
@import url(chrome/button_effect_scale_onclick.css);
@import url(chrome/autohide_menubar.css);
@import url(chrome/hide_toolbox_top_bottom_borders.css);
@import url(chrome/vertical_context_navigation.css);
@import url(chrome/minimal_text_fields.css);
@import url(chrome/urlbar_centered_text.css);
@import url(chrome/autohide_bookmarks_toolbar.css);
@import url(chrome/navigation_buttons_inside_urlbar.css);
@import url(chrome/compact_proton.css);
@import url(chrome/compact_urlbar_megabar.css);
@import url(sidebery.css);
/* Apply your custom modifications after imports */

:root{
  --toolbar-bgcolor: rgb(36,44,59) !important;
  --uc-menu-bkgnd: var(--toolbar-bgcolor);
  --arrowpanel-background: var(--toolbar-bgcolor) !important;
  --autocomplete-popup-background: var(--toolbar-bgcolor) !important;
  --uc-menu-disabled: rgb(90,90,90) !important;
  --lwt-toolbar-field-focus: rgb(36,44,59) !important;
}

#sidebar-box{ --sidebar-background-color: var(--toolbar-bgcolor) !important; }
window.sidebar-panel{ --lwt-sidebar-background-color: rgb(36,44,59) !important; }

#TabsToolbar {
  visibility: collapse !important;
}

#sidebar-main {
  visibility: collapse !important;
}

#sidebar-header {
  visibility: collapse !important;
}

#sidebar-panel-header {
  visibility: collapse !important;
}

#navigator-toolbox{
  border-bottom: none !important;
}

.titlebar-buttonbox-container {
  visibility: collapse !important;
}

#PlacesToolbar, #PlacesToolbarItems {
  justify-content: center !important;
}

.browser-toolbar {
  @media not -moz-pref("sidebar.verticalTabs") {
  &:not(.browser-titlebar) {
    background-color: transparent !important;
  }
}
}

#statuspanel-label {
  margin-left: 5em !important;
  border-radius: 5px;
}