@-moz-document url("about:newtab"), url("about:home") {
    body {
        --newtab-background-color: var(--gnome-window-background) !important;
        --newtab-background-color-secondary: var(--gnome-menu-background) !important;
        --newtab-primary-action-background: var(--gnome-accent) !important;
        background: url('elden.jpg') !important;
    }

    .search-wrapper input {
        background: rgba(56, 56, 56, 0.41) var(--newtab-search-icon) 16px center no-repeat !important;
        border-radius: 30px !important;
    }

    .search-wrapper {
        padding: 4px 0 38px !important;
    }

    @media (min-width: 1122px) {
        main {
            width: -moz-available !important;
        }
    }

    .logo-and-wordmark-wrapper {
        display: none !important;
    }

    .card-preview-image-outer {
        display: none !important;
    }

    .compact-cards .card-outer {
        height: 0 !important;
    }

    .compact-cards .card-outer .card-preview-image-outer {
        height: 0 !important;
    }

    .card-outer .card-context {
        display: none !important;
    }

    .top-site-outer .top-site-inner > a {
        padding: 3px !important;
        display: flex !important;
    }

    .top-site-outer {
        width: fit-content !important;
    }

    .top-site-outer .tile {
        display: hidden !important;
        height: 30px !important;
        width: 30px !important;
        margin: 0 !important;
        padding-top: 0px !important;

    }

    .top-sites-list .top-site-outer span[dir="auto"] {
        display: flex !important;
    }

    .top-sites-list {
        max-height: 450px !important;
        flex-direction: column !important;
    }

    .top-site-outer .title {
        color: var(--newtab-contextual-text-primary-color) !important;
        padding-top: 8px !important;
        font: caption !important;
        text-align: center !important;
        position: relative !important;
        min-width: 190px !important;
/*        max-width: 150px !important;
        width: max-content !important;*/
    }

    .top-site-outer .title {
        padding-left: 13px !important;
    }

    .top-site-outer .tile .icon-wrapper {
        width: 20px !important;
        height: 20px !important;
    }

    .top-site-outer .title:not(.sponsored) .sponsored-label {
        display: none !important;
    }

    .top-sites-list .top-site-outer .top-site-button {
/*         display: flex; */
        flex-direction: row !important;
    }

    .top-sites-list .top-site-outer:hover span[dir="auto"], .top-sites-list .top-site-outer:focus-within span[dir="auto"] {
        text-wrap: nowrap !important;
    }

/*    .top-site-outer .top-site-inner {
        width: 169px !important;
    }*/

main section {
    margin-bottom: 0 !important;
}

}
